.second-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 1514px;
  height: 307px;
  top: 950px;
  position: absolute;
  height: auto;
 
  flex-direction: row;
  width: 1514px;
  height: 307px;
  

}

.left-section {
  width: 356px;
  height: 313px;
  margin-left: 10%;
  margin-top: 10px;

}

.subtitle {
  color: rgba(154, 154, 154, 1);
  width: 292px;
  height: 36px;
  font-weight: 500;
  font-size: 24px;
  text-align: start;
}

.highlight-text {
  font-size:10px;
  
  font-weight: bold;
  text-align: start;
}

.purple {
  color: rgba(173, 0, 255, 1);
  /* font-size: 64px; */
}

.bold {
  font-weight: bold;
  /* font-size: 64px; */
  color: rgba(0, 0, 0, 1);
}

.right-section {
  text-align: right;
  max-width: 50%;
  margin-right: 10%;
  text-align: center;
}

.emoji {
  font-size: 24px;
}

.description {
  font-size: 20px;
  color: black;
  line-height: 1.5;
  max-width: 200px;
  font-weight: 100;
}

@media (max-width: 768px) {
  .second-page {
      flex-direction: column;
      height: auto;
      text-align: center;
      top: 1220px;
     
      
    
  }

  .left-section, .right-section {
      max-width: 100%;
      margin: 0;
  }

  .highlight-text {
      font-size: 1.8rem;
      line-height: 2rem;
      
  }

  .purple, .bold {
      font-size: 2rem;
  }

  .emoji {
      font-size: 2rem;
      margin-top: 1rem;
  }

  .description {
      font-size: 1rem;
      line-height: 1.4rem;     
      margin-right: 150px;
  }
}
