.menu-1 {
    color:rgba(8, 36, 49, 1);
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 11px;
    font-weight: 400;
}


.others{
    color: rgba(8, 36, 49, 1);
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 11px;
    font-weight: 400;
}

.list-1{
    padding-left: 50px;
    column-gap: 20px;
    row-gap: 20px;
    font-size: 22px;
    color: rgba(39, 50, 64, 1);padding-top: 50px;
}


.para{
    color: rgba(0, 0, 0, 1);
    opacity: 50%;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 22px;
    font-weight: 400;
    text-align: start;
}

.iop{
    color: rgba(31, 56, 76, 1);
    font-size: 18px;
    font-weight: 500;
}

.iop-1{
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 400;
}

.ipo-2{
    color:rgba(20, 157, 82, 1) ;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.5px;
    font-size: 12px;
}